# Common
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel
frontend/*.tsbuildinfo

# Backend (Python)
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/pip-wheel-metadata/
backend/share/python-wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/MANIFEST
backend/.venv
backend/venv/
backend/ENV/
backend/env/
backend/ENV/
backend/temp/
backend/uploads/
backend/processed/
backend/*.pt

# Prisma
frontend/prisma/*.db
frontend/prisma/*.db-journal

